<p class="input-label">{{question.question_title}}</p>
<p class="input-label">{{question.question_text}}</p>
<div [ngSwitch]="question.question_type" class="input-container">
  <nb-radio-group
    [(ngModel)]="applicantAnswer.answer"
    (ngModelChange)="applicantAnswerChange.emit(applicantAnswer)"
    *ngSwitchCase="questionTypes.RADIO">
    <nb-radio *ngFor="let choice of question.question_choices"
              value="{{choice.value}}">{{choice.value}}</nb-radio>
  </nb-radio-group>
  <div *ngSwitchCase="questionTypes.CHECK_BOX" class="left-flex-col">
    <nb-checkbox style="padding-right:15px; padding-bottom:5px"
                 *ngFor="let choice of question.question_choices"
                 (checkedChange)="onCheckedChange(choice.value)">
      {{choice.value}}
    </nb-checkbox>
  </div>
  <textarea nbInput fullWidth style="min-height: 150px"
            [(ngModel)]="applicantAnswer.answer"
            (ngModelChange)="applicantAnswerChange.emit(applicantAnswer)"
            *ngSwitchCase="questionTypes.LONG_FORM">
  </textarea>
  <input nbInput fullWidth [(ngModel)]="applicantAnswer.answer"
         (ngModelChange)="applicantAnswerChange.emit(applicantAnswer)"
         *ngSwitchDefault>
</div>


