<nb-card>
  <nb-card-body class="nb-card-header-text center-flex-row">
    <div class="filter-item-container">
      <span>Work Type</span>
      <nb-select multiple placeholder="All" (selectedChange)="workTypeChange.emit($event)">
        <nb-option *ngFor="let item of position_types | keyvalue" [value]="item.value">{{item.value | titlecase}}</nb-option>
      </nb-select>
    </div>
    <div class="filter-item-container">
      <span>Salary From</span>
      <nb-select [selected]=salaryFromOptions[0] (selectedChange)="salaryFromChange.emit(onSalaryStringToNum($event))">
        <nb-option *ngFor="let salaryFrom of salaryFromOptions" [value]="salaryFrom">{{salaryFrom}}</nb-option>
      </nb-select>
    </div>
    <div class="filter-item-container">
      <span>Salary To</span>
      <nb-select [selected]=salaryToOptions.slice(-1)[0] (selectedChange)=salaryToChange.emit(onSalaryStringToNum($event))>
        <nb-option *ngFor="let salaryTo of salaryToOptions" [value]="salaryTo">{{salaryTo}}</nb-option>
      </nb-select>
    </div>
    <div class="filter-item-container">
      <span>Listed Time</span>
      <nb-select [selected]=listedTimes[0].value (selectedChange)="onDateChange($event)">
        <nb-option *ngFor="let time of listedTimes" [value]="time.value">{{time.label}}</nb-option>
      </nb-select>
    </div>
  </nb-card-body>
</nb-card>

