<nb-card>
  <nb-card-header>
    <!-- TODO: Add in the job title, etc. as we progress through the questions -->
    <div class="center-flex-row"><h4>Post Job</h4></div>
  </nb-card-header>
  <nb-card-body>
  <form>
    <nb-stepper orientation="horizontal">
      <nb-step [label]="standardInfo">
        <ng-template #standardInfo>Basic Information</ng-template>
        <h4 style="text-align: center">Standard Job Information</h4>
        <div class="input-container center-flex-col">
          <p class="input-label">Job Title</p>
          <input nbInput type="text" placeholder="Software Engineer" class="min-w-30" [(ngModel)]="jobFormData.job_title" name="job-title" required>
        </div>
        <div class="input-container center-flex-col">
          <p class="input-label">Job Description</p>
          <textarea nbInput type="text" placeholder="Write code, run code, fix code" class="min-w-30" [(ngModel)]="jobFormData.job_description" name="job-description" required></textarea>
        </div>
        <div class="input-container center-flex-col">
          <p class="input-label">Location</p>
          <input nbInput type="text" placeholder="Sydney" class="min-w-30" [(ngModel)]="jobFormData.location" name="job-location">
        </div>
        <div class="input-container center-flex-col">
          <p class="input-label">Start Date</p>
          <input nbInput class="min-w-30" [nbDatepicker]="datepickerstart" [(ngModel)]="jobFormData.start_date" name="start-date">
          <nb-datepicker #datepickerstart></nb-datepicker>
        </div>
        <div class="input-container center-flex-col">
          <p class="input-label">End Date</p>
          <input nbInput class="min-w-30" [nbDatepicker]="datepickerend" [(ngModel)]="jobFormData.end_date" name="end-date">
          <nb-datepicker #datepickerend></nb-datepicker>
        </div>
        <div class="input-container center-flex-col">
          <p class="input-label">Application Close Date</p>
          <input nbInput class="min-w-30" [nbDatepicker]="datepickerclose" [(ngModel)]="jobFormData.close_date" name="close-date">
          <nb-datepicker #datepickerclose></nb-datepicker>
        </div>
        <div class="center-flex-row">
          <button nbButton disabled nbStepperPrevious>prev</button>
          <button nbButton nbStepperNext>next</button>
        </div>
      </nb-step>
      <!--
      <nb-step [label]="salary">
        <ng-template #salary>Salary (Optional)</ng-template>
        <h4 style="text-align: center">Standard Job Information</h4>
        <div class="input-container center-flex-col">
          <p class="input-label">Salary Range (in $Thousand)</p>
          <ngx-slider [(value)]="jobFormData.salary_from" [(highValue)]="jobFormData.salary_to" [options]="options"></ngx-slider>
        </div>
        <div class="center-flex-row">
          <button nbButton nbStepperPrevious>prev</button>
          <button nbButton nbStepperNext>next</button>
        </div>
      </nb-step>
      -->
      <nb-step [label]="questionLabels">
        <ng-template #questionLabels>Job Questions</ng-template>
        <h4 style="text-align: center">Create Questions to Ask Candidates</h4>
        <!-- TODO: Add mat-table to display all questions -->
        <table *ngIf="questions.length >= 1" mat-table [dataSource]="dataSource" class="mat-elevation-z1 w-75" style="margin: 0 auto 20px;">
          <!-- Choices Column -->
          <ng-container matColumnDef="questionTitle">
            <th mat-header-cell *matHeaderCellDef> Question Title </th>
            <td mat-cell *matCellDef="let element"> {{element.questionTitle}} </td>
          </ng-container>
          <ng-container matColumnDef="questionText">
            <th mat-header-cell *matHeaderCellDef> Question Text </th>
            <td mat-cell *matCellDef="let element"> {{element.questionText}} </td>
          </ng-container>
          <ng-container matColumnDef="questionType">
            <th mat-header-cell *matHeaderCellDef> Question Type </th>
            <td mat-cell *matCellDef="let element"> {{element.questionType}} </td>
          </ng-container>
          <ng-container matColumnDef="choices">
            <th mat-header-cell *matHeaderCellDef> Question Choices </th>
            <td mat-cell *matCellDef="let element"> {{element.choices.join(', ')}} </td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element" class="action-link">
              <button ghost nbButton (click)="crudQuestion('update', element)"><nb-icon icon="edit"></nb-icon></button>
              <button ghost nbButton (click)="crudQuestion('delete', element)"><nb-icon icon="archive"></nb-icon></button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
        </table>
        <div class="center-flex-row mb-5" (click)="crudQuestion('create')"><button nbButton>Add Question</button></div>
        <div class="center-flex-row">
          <button nbButton nbStepperPrevious>prev</button>
          <button nbButton nbStepperNext>next</button>
        </div>
      </nb-step>
      <nb-step [label]="confirmationLabels">
        <ng-template #confirmationLabels>Confirm</ng-template>
        <h4 style="text-align: center">Confirm Job Form</h4>
        <!-- TODO: Make this dynamic -->
        <table class="min-w-50" style="margin: 0 auto;">
          <colgroup>
             <col span="1" style="width: 50%;">
             <col span="1" style="width: 50%;">
          </colgroup>
          <tr>
            <td>Job Title</td>
            <td>{{jobFormData.job_title}}</td>
          </tr>
          <tr>
            <td>Job Description</td>
            <td>{{jobFormData.job_description}}</td>
          </tr>
          <tr>
            <td>Job Start Date</td>
            <td>{{jobFormData.start_date}}</td>
          </tr>
          <tr>
            <td>Job End Date </td>
            <td>{{jobFormData.end_date}}</td>
          </tr>
          <tr>
            <td>Application Close Date </td>
            <td>{{jobFormData.close_date}}</td>
          </tr>
          <tr>
            <td>Location </td>
            <td>{{jobFormData.location}}</td>
          </tr>
        </table>
        <table *ngIf="questions.length >= 1" mat-table [dataSource]="dataSource" class="mat-elevation-z1 w-75" style="margin: 0 auto 20px;">
          <!-- Choices Column -->
          <ng-container matColumnDef="questionText">
            <th mat-header-cell *matHeaderCellDef> Question Text </th>
            <td mat-cell *matCellDef="let element"> {{element.questionText}} </td>
          </ng-container>
          <ng-container matColumnDef="questionType">
            <th mat-header-cell *matHeaderCellDef> Question Type </th>
            <td mat-cell *matCellDef="let element"> {{element.questionType}} </td>
          </ng-container>
          <ng-container matColumnDef="choices">
            <th mat-header-cell *matHeaderCellDef> Question Choices </th>
            <td mat-cell *matCellDef="let element"> {{element.choices.join(', ')}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayColumnsSummary"></tr>
          <tr mat-row *matRowDef="let row; columns: displayColumnsSummary;"></tr>
        </table>
        <div class="center-flex-row">
          <button nbButton nbStepperPrevious>prev</button>
          <button nbButton disabled nbStepperNext>next</button>
        </div>
        <div class="center-flex-col">
          <button nbButton class="mt-5 mb-5" (click)="createJob()">Create</button>
        </div>
      </nb-step>
    </nb-stepper>
  </form>
  </nb-card-body>
</nb-card>
