<div class="center-flex-row">
  <nb-card style="width:50%; padding:20px">
    <nb-card-header>
      <h2 style="padding-bottom: 50px;" class="center-flex-col">{{jobQuestion?.job_title}}</h2>
      <div class="left-flex-row">
        <span class="span-tag">{{jobQuestion?.position_type | uppercase}}</span>
        <div class="info-item-container" *ngIf="jobQuestion?.salary_from">
          <span class="span-tag">Salary: </span>
          <span class="span-text">${{jobQuestion.salary_from}}</span>
          <span *ngIf="jobQuestion?.salary_to" class="span-text"> - ${{jobQuestion.salary_to}}</span>
        </div>
        <div class="info-item-container" *ngIf="jobQuestion?.location">
          <span class="span-tag">Location: </span><span class="span-text">{{jobQuestion.location}}</span>
        </div>
        <div class="info-item-container" *ngIf="jobQuestion?.start_date">
          <span class="span-tag">Start Date: </span><span
          class="span-text">{{jobQuestion.start_date}}</span>
        </div>
        <div class="info-item-container" *ngIf="jobQuestion?.end_date">
          <span class="span-tag">End Date: </span><span class="span-text">{{jobQuestion.end_date}}</span>
        </div>
        <div class="info-item-container" *ngIf="jobQuestion?.organisation?.name">
          <span class="span-tag">Organisation: </span><span
          class="span-text">{{jobQuestion.organisation.name}}</span>
        </div>
        <div class="info-item-container" *ngIf="jobQuestion?.close_date">
          <span class="span-tag">Applications Close: </span><span
          class="span-text">{{jobQuestion.close_date}}</span>
        </div>
      </div>
    </nb-card-header>
    <nb-card-body>
      <p [innerHTML]="jobQuestion?.job_description"></p>
    </nb-card-body>
  </nb-card>
  <nb-card style="width:50%; padding:20px">
    <nb-card-body>
      <app-position-form *ngIf="jobQuestion?.questions"
                         [jobQuestions]="jobQuestion.questions"
                         (questionAnswersChange)="questionAnswers=$event">
      </app-position-form>
      <app-application-form [(application)]="application">
      </app-application-form>
      <div class="left-flex-col">
        <button nbButton (click)="onSubmit(dialog)">Submit</button>
      </div>
    </nb-card-body>
  </nb-card>
</div>
<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>{{data}}</nb-card-header>
    <nb-card-footer>
      <button nbButton (click)="ref.close()">Ok</button>
    </nb-card-footer>
  </nb-card>
</ng-template>



