<app-job-filter (listedTimeChange)="onListedTimeChange($event)"
                (salaryFromChange)="onSalaryFromChange($event)"
                (salaryToChange)="onSalaryToChange($event)"
                (workTypeChange)="onWorkTypeChange($event)">
</app-job-filter>
<div *ngFor="let job of paginatedJobList">
  <app-job-tile [job]="job"></app-job-tile>
</div>
<nb-paginator [endPoint]="paginatedJobListEndpoint"
              (resultsChange)="paginatedJobList = $event"
              [pageSize]="4"
              [filters]="filters"></nb-paginator>
