<nb-card>
  <nb-card-header *ngIf="!existingChoice">Add Choice</nb-card-header>
  <nb-card-header *ngIf="existingChoice">Edit Choice</nb-card-header>
  <nb-card-body>
    <form id="choice-form" (submit)="close()" ngNativeValidate>
      <div class="input-container center-flex-col">
        <p class="input-label">Choice</p>
        <div class="center-flex-row">
          <input nbInput type="text" placeholder="A lot" class="min-w-50" [(ngModel)]="choice" name="choice-text" required>
        </div>
      </div>
      <div class="center-flex-row">
        <button nbButton type="submit" *ngIf="!existingChoice" form="choice-form">Add</button>
        <button nbButton type="submit" *ngIf="existingChoice" form="choice-form">Edit</button>
      </div>
    </form>
  </nb-card-body>
</nb-card>
