<nb-card style="min-width: 50vw">
  <nb-card-header *ngIf="!edit">Add Question</nb-card-header>
  <nb-card-header *ngIf="edit">Edit Question</nb-card-header>
  <nb-card-body>
    <form>
      <div class="input-container center-flex-col">
        <p class="input-label">Question Text: </p>
        <textarea nbInput type="text" placeholder="Have you got any experience with Pandas?" class="min-w-50" [(ngModel)]="questionText" name="question-text" required></textarea>
      </div>
      <div class="input-container center-flex-col">
        <p class="input-label">Question Type: </p>
        <nb-radio-group [(ngModel)]="questionType" name="question-type">
          <nb-radio *ngFor="let type of questionTypes" [value]="type.key">{{type.display}}</nb-radio>
        </nb-radio-group>
      </div>
      <ng-container [ngSwitch]="questionType" *ngIf="questionType">
        <div *ngSwitchCase="'RADIO'" class="input-container center-flex-col">
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z1 w-75" style="margin: 0 auto 20px;">
            <!-- Choices Column -->
            <ng-container matColumnDef="choice">
              <th mat-header-cell *matHeaderCellDef> Choice </th>
              <td mat-cell *matCellDef="let element"> {{element.choice}} </td>
            </ng-container>
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef> Action </th>
              <td mat-cell *matCellDef="let element" class="action-link">
                <button ghost nbButton (click)="crudChoice('update', element)"><nb-icon icon="edit"></nb-icon></button>
                <button ghost nbButton (click)="crudChoice('delete', element)"><nb-icon icon="archive"></nb-icon></button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <div class="center-flex-row">
            <button nbButton (click)="crudChoice('add')">Add Choice</button>
          </div>
        </div>
        <div *ngSwitchCase="'SCALE'" class="input-container center-flex-col">
          <p class="input-label">Choices for scale (drag to reorder): </p>
          <div class="center-flex-row">
            <button nbButton>Add Choice</button>
          </div>
        </div>
        <div *ngSwitchDefault></div>
      </ng-container>
      <div class="center-flex-row">
        <button nbButton type="submit" (click)="close()" ><span *ngIf="edit">Edit</span><span *ngIf="!edit">Add</span></button>
      </div>
    </form>
  </nb-card-body>
</nb-card>
