<div class="input-container">
  <p class="input-label">Resume</p>
  <input nbInput type="file" (change)="onResumeChange($event)">
</div>
<div class="input-container">
  <p class="input-label">Cover letter</p>
  <input nbInput type="file" (change)="onCoverLetterChange($event)">
</div>


