@use '@angular/material' as mat;

@use 'themes' as *;

@use '@nebular/theme/styles/globals' as *;

@import '@angular/material/prebuilt-themes/indigo-pink.css';

@include nb-install() {
  @include nb-theme-global();
}

;
/* You can add global styles to this file, and also import other style files */
.center-flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.left-flex-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.center-flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.span-tag {
  font-weight: bold;
  font-size: 16px;
  padding-right: 5px;
}
.span-text {
  font-weight: normal;
  font-size: 16px;
}
input {
  margin-bottom: 5px;
}
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
}

.flex-between {
  justify-content: space-between;
}

.flex-start {
  justify-content: start;
}

.ml-5 {
  margin-left: 5px;
}

.mr-5 {
  margin-right: 5px;
}

.mt-5 {
  margin-top: 5px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-10 {
  margin-top: 10px;
}

.generic-button {
  background-color: var(--button-filled-basic-background-color);
  border-color: var(--button-filled-basic-border-color);
  color: var(--button-filled-basic-text-color);
  padding: var(--button-filled-medium-padding);
  border-style: var(--button-filled-border-style);
  border-width: var(--button-filled-border-width);
  text-transform: var(--button-filled-text-transform);
  border-radius: var(--button-rectangle-border-radius);
  font-size: var(--button-medium-text-font-size);
  line-height: var(--button-medium-text-line-height);
  appearance: none;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  user-select: none;
  cursor: var(--button-cursor);
  font-family: var(--button-text-font-family);
  font-weight: var(--button-text-font-weight);
}

.generic-button:hover {
  background-color: var(--button-filled-basic-hover-background-color);
  border-color: var(--button-filled-basic-hover-border-color);
}

.input-label {
  font-weight: bold;
}

.input-container {
  margin-bottom: 20px
}

.min-w-30 {
  min-width: 30%;
}

.min-w-50 {
  min-width: 50%;
}

.nb-card-header-text {
    color: var(--card-header-text-color);
    font-family: var(--card-header-text-font-family);
    font-size: var(--card-header-text-font-size);
    font-weight: var(--card-header-text-font-weight);
}

.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
