<nb-layout>
  <nb-layout-column class="colored-column-success">
    <nb-card *ngFor="let job of jobList">
      <nb-card-header>
        {{job.job_title}}
      </nb-card-header>
      <nb-card-body class="flex-col">
        <div class="flex-row flex-between">
          <!-- The job info itself -->
          <div style="width:70%" [innerHTML]="job.job_description"></div>
          <div style="width:20%;" class="flex-col flex-start">
            <span class="flex-row"><nb-icon icon="pin" style="margin-right: 10px;"></nb-icon>{{job.location}}</span>
            <span class="flex-row" *ngIf="job.salary_from || job.salary_to">
              <nb-icon icon="calendar-outline" style="margin-right: 10px;"></nb-icon>{{convertDatetimeString(job.date_published)}}
            </span>
            <span class="flex-row"><nb-icon icon="briefcase" style="margin-right: 10px;"></nb-icon>${{job.salary_from}} - ${{job.salary_to}}</span>
          </div>
        </div>
        <div style="margin-bottom: 10px">
          <!-- This contains the list of applicants -->
          <nb-accordion style="border: 1px solid #ececec; box-shadow: none; margin-top:10px;">
            <nb-accordion-item *ngFor="let application of job.applications">
              <nb-accordion-item-header>{{application.applicant.first_name ? capitalise(application.applicant.first_name) + ' ' : ''}}{{application.applicant.last_name ? capitalise(application.applicant.last_name) : ''}}</nb-accordion-item-header>
              <nb-accordion-item-body>
                <div class="flex-row flex-between">
                  <div style="width:70%" class="flex-col">
                    <table>
                      <tr>
                        <td>
                          <span>Resume</span>
                        </td>
                        <td>
                          <span *ngIf="application.resume"><a [href]="application.resume" target="_blank">Download</a></span>
                          <span *ngIf="!application.resume"><s>Download</s></span>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <span>Cover Letter</span>
                        </td>
                        <td>
                          <span *ngIf="application.cover_letter"><a [href]="application.cover_letter" target="_blank">Download</a></span>
                          <span *ngIf="!application.cover_letter"><s>Download</s></span>
                        </td>
                      </tr>
                      <tr>
                        <td>Email Address</td>
                        <td>{{application.applicant.email}}</td>
                      </tr>
                      <tr>
                        <td>Contact Number</td>
                        <td>{{application.applicant.phone}}</td>
                      </tr>
                    </table>

                  </div>
                  <div style="width:20%;" class="flex-col flex-start">
                    <span class="flex-row"><nb-icon icon="calendar-outline" style="margin-right: 10px;"></nb-icon>{{convertDatetimeString(application.application_date)}}</span>
                  </div>
                </div>
                <div class="mt-10" style="width: 100%">
                  <table style="width:100%">
                    <colgroup>
                      <col span="1" style="width: 25%;">
                      <col span="1" style="width: 70%;">
                    </colgroup>
                    <thead>
                      <th>Question</th>
                      <th>Answer</th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let question of application.application_answers">
                        <td>{{question.question.question_title}} - {{question.question.question_text}}</td>
                        <td>{{question.answer}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="flex-row flex-center">
                  <button nbButton class="ml-5 mr-5">Edit</button>
                  <button nbButton class="ml-5 mr-5">Contact</button>
                  <button nbButton class="ml-5 mr-5" (click)="crudApplicant(application.id, job, 'delete')">Delete</button>
                </div>
              </nb-accordion-item-body>
            </nb-accordion-item>
          </nb-accordion>
        </div>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
