<nb-card>
  <nb-card-header>
    {{job.job_title}}
  </nb-card-header>
  <nb-card-body class="flex-col">
    <div class="flex-row flex-between">
      <div style="width:70%">
        {{job.job_description}}
      </div>
      <button nbButton (click)="applyJob(job.id)">Apply</button>
      <div style="width:20%;" class="flex-col flex-start">
        <span class="flex-row"><nb-icon icon="pin" style="margin-right: 10px;"></nb-icon>
          {{job.location}}</span>
        <span class="flex-row"><nb-icon icon="calendar-outline" style="margin-right: 10px;"></nb-icon>
          {{convertDatetimeString(job.date_published)}}</span>
      </div>
    </div>
  </nb-card-body>
</nb-card>
