<form>
  <div *ngFor="let questionAnswer of questionAnswers">
    <app-position-question [(applicantAnswer)]="questionAnswer.applicantAnswer"
                           (applicantAnswerChange)="questionAnswersChange.emit(questionAnswers)"
                           [question]="questionAnswer.question"
                           [required]="questionAnswer.required"></app-position-question>
  </div>

</form>

