<h3 id="title" class="title">Register</h3>
<form (ngSubmit)="register(dialog)" #form="ngForm" aria-labelledby="title">

  <div class="form-control-group">
    <label class="label" for="input-first-name">First name:</label>
    <input nbInput
           [(ngModel)]="user.first_name"
           #firstName="ngModel"
           id="input-first-name"
           name="firstName"
           placeholder="First name"
           autofocus
           fullWidth
           fieldSize="large"
           [required]="true"
           [status]="firstName.dirty ? (firstName.invalid  ? 'danger' : 'success') : 'basic'"
           [attr.aria-invalid]="firstName.invalid && firstName.touched ? true : null">
    <ng-container *ngIf="firstName.invalid && firstName.touched">
      <p class="caption status-danger" *ngIf="firstName.errors?.['required']">
        First name is required!
      </p>
    </ng-container>
  </div>

  <div class="form-control-group">
    <label class="label" for="input-last-name">Last name:</label>
    <input nbInput
           [(ngModel)]="user.last_name"
           #lastName="ngModel"
           id="input-last-name"
           name="lastName"
           placeholder="Last name"
           autofocus
           fullWidth
           fieldSize="large"
           [status]="lastName.dirty ? (lastName.invalid  ? 'danger' : 'success') : 'basic'"
           [attr.aria-invalid]="lastName.invalid && lastName.touched ? true : null">
  </div>

  <div class="form-control-group">
    <label class="label" for="input-email">Email address:</label>
    <input nbInput
           [(ngModel)]="user.email"
           #email="ngModel"
           id="input-email"
           name="email"
           pattern=".+@.+..+"
           placeholder="Email address"
           fullWidth
           fieldSize="large"
           [required]="true"
           [status]="email.dirty ? (email.invalid  ? 'danger' : 'success') : 'basic'"
           [attr.aria-invalid]="email.invalid && email.touched ? true : null">
    <ng-container *ngIf="email.invalid && email.touched">
      <p class="caption status-danger" *ngIf="email.errors?.['required']">
        Email address is required!
      </p>
      <p class="caption status-danger" *ngIf="email.errors?.['pattern']">
        Email should be the real one!
      </p>
    </ng-container>
  </div>

  <div class="form-control-group">
    <label class="label" for="input-email">Phone:</label>
    <input nbInput
           [(ngModel)]="user.phone"
           #phone="ngModel"
           id="input-phone"
           name="phone"
           placeholder="Mobile Number"
           fullWidth
           fieldSize="large"
           [status]="phone.dirty ? (phone.invalid  ? 'danger' : 'success') : 'basic'"
           [attr.aria-invalid]="phone.invalid && phone.touched ? true : null">
  </div>

  <div class="form-control-group">
    <label class="label" for="input-password">Password:</label>
    <input nbInput
           [(ngModel)]="user.password1"
           #password="ngModel"
           type="password"
           id="input-password"
           name="password"
           placeholder="Password"
           fullWidth
           fieldSize="large"
           [required]="true"
           [minlength]="8"
           [status]="password.dirty ? (password.invalid  ? 'danger' : 'success') : 'basic'"
           [attr.aria-invalid]="password.invalid && password.touched ? true : null">
    <ng-container *ngIf="password.invalid && password.touched">
      <p class="caption status-danger" *ngIf="password.errors?.['required']">
        Password is required!
      </p>
      <p class="caption status-danger" *ngIf="password.errors?.['minlength']">
        Password should contain at least 8 characters
      </p>
    </ng-container>
  </div>

  <div class="form-control-group">
    <label class="label" for="input-re-password">Repeat password:</label>
    <input nbInput
           [(ngModel)]="user.password2"
           #rePass="ngModel"
           type="password"
           id="input-re-password"
           name="rePass"
           placeholder="Confirm Password"
           fullWidth
           fieldSize="large"
           [required]="true"
           [status]="rePass.dirty ? (rePass.invalid || password.value != rePass.value  ? 'danger' : 'success') : 'basic'"
           [attr.aria-invalid]="rePass.invalid && rePass.touched ? true : null">
    <ng-container *ngIf="rePass.invalid && rePass.touched">
      <p class="caption status-danger" *ngIf="rePass.errors?.['required']">
        Password confirmation is required!
      </p>
      <p class="caption status-danger" *ngIf="password.value != rePass.value">
        Password does not match the confirm password.
      </p>
    </ng-container>
  </div>

  <button nbButton
          fullWidth
          status="primary"
          size="large"
          [disabled]="submitted || !form.valid"
          [class.btn-pulse]="submitted">
    Register
  </button>
</form>

<section class="another-action" aria-label="Sign in">
  Already have an account? <a class="text-link" routerLink="../login">Log in</a>
</section>

<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>{{data?.title}}</nb-card-header>
    <nb-card-body>{{data?.body}}</nb-card-body>
    <nb-card-footer>
      <button nbButton (click)="ref.close()">Ok</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
